{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}


{% block body %}
    <h1> HTTP/2 WebLink (serverPush) in twig</h1>

    <link href="{{ preload(asset('images/1.jpg'), { as: 'image' }) }}">
    <link href="{{ preload(asset('images/2.jpg'), { as: 'image' }) }}">
    <link href="{{ preload(asset('images/3.jpg'), { as: 'image' }) }}">
    <link href="{{ preload(asset('images/4.jpg'), { as: 'image' }) }}">
    <link href="{{ preload(asset('images/5.jpg'), { as: 'image' }) }}">

    <link href="{{ preload(asset('images/6.jpg'), { as: 'image' }) }}">
    <link href="{{ preload(asset('images/7.jpg'), { as: 'image' }) }}">
    <link href="{{ preload(asset('images/8.jpg'), { as: 'image' }) }}">
    <link href="{{ preload(asset('images/9.jpg'), { as: 'image' }) }}">
    <link href="{{ preload(asset('images/10.jpg'), { as: 'image' }) }}">

    <link href="{{ preload(asset('images/1.jpg'), { as: 'image' }) }}">
    <link href="{{ preload(asset('images/12.jpg'), { as: 'image' }) }}">
    <link href="{{ preload(asset('images/13.jpg'), { as: 'image' }) }}">
    <link href="{{ preload(asset('images/14.jpg'), { as: 'image' }) }}">
    <link href="{{ preload(asset('images/15.jpg'), { as: 'image' }) }}">



    <link href="{{ preload(asset('images/16.jpg'), { as: 'image' }) }}">
    <link href="{{ preload(asset('images/17.jpg'), { as: 'image' }) }}">
    <link href="{{ preload(asset('images/18.jpg'), { as: 'image' }) }}">
    <link href="{{ preload(asset('images/19.jpg'), { as: 'image' }) }}">
    <link href="{{ preload(asset('images/20.jpg'), { as: 'image' }) }}">


    <link href="{{ preload(asset('js/jquery-3.2.1.js'), { as: 'script' }) }}">
{% endblock %}

